@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a asp-controller="Home" asp-action="Persona" class="btn btn-primary">Agregar Persona</a>
        <a href="#" id="agregarTrabajadorBtn" class="btn btn-primary">Agregar Trabajador</a>
        <a href="#" id="agregarMultaBtn" class="btn btn-primary">Agregar Multa</a>
    </div>
</div>



